.content {
    flex-grow: 1;
    padding: 30px;
    overflow-y: auto;
}

header h1 {
    font-size: 28px;
    color: #D852C4;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
    color: #7f8c8d;
}

.schedule-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.schedule-navigation button {
    padding: 8px 16px;
    background-color: #F063E9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.schedule-navigation button:hover {
    background-color: #D852C4;
}

.schedule-navigation span {
    font-size: 18px;
    font-weight: bold;
    color: #D852C4;
}

.schedule-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table thead th {
    background-color: #F063E9;
    color: #fff;
    padding: 10px;
    font-size: 16px;
}

table tbody td {
    padding: 12px;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.status-booked {
    background-color: #e57373;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
}

.status-available {
    background-color: #6dcf85;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
}


.date-picker {
    margin-bottom: 20px;
}

.date-picker input[type="date"] {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #D852C4;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}


/* Estilo dos selects */
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  select:hover {
    border-color: #D852C4; /* Muda a borda para verde quando o mouse passa */
  }
  
  select:focus {
    outline: none;
    border-color: #D852C4; /* Borda verde quando o campo é focado */
  }
  
  /* Estilo dos botões de ação */
  button {
    background-color: #D852C4; /* Cor de fundo do botão */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #F063E9; /* Cor de fundo do botão ao passar o mouse */
  }
  
  button:focus {
    outline: none;
  }